.marron {
    color: #baa898;
}

.dorado {
    color: #eee0cb;
}

.bazul {
    background-color: #bfd7ea;
}

.bmarron {
    background-color: #baa898;
}

.bdorado {
    background-color: #eee0cb;
}

.bnegro {
    background-color: #000000;
}

.bverde {
    background-color: #839788;
}