.formulario {
    text-align: left;
}

.valores {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-registro {
    padding: 6px 6px;
    border-radius: .25rem;
    background-color: #bfd7ea;
    border-color: #bfd7ea;

    border: 1px solid transparent;
}

.btn-inicio {
    padding: 6px 6px;
    border-radius: .25rem;
    color: #fff;
    background-color: #839788;
    border: 1px solid transparent;
}