.tab button {
  margin-top: 10px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #839788;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #839788;
}

/* Style the tab content */
.contenido {
  margin-top: 10px;
  display: none;
}

.col-3>img {
  max-height: 200px;
}