table td,table th{
    text-align: center;
    border: none !important;
}

tr:hover {
    background-color: #eee0cb;
    box-shadow: 5px 5px 5px gray;

}

tr:first-child:hover {
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    border: none !important;
    border-radius: 25px 25px 0px 0px;
}

.cursor {
    cursor: pointer;
}

table,
tbody {
    box-shadow: 5px 5px 5px gray;
    border-radius: 25px 25px 0px 0px;
}