table td,
table th {
    text-align: center;
    border: none !important;
}

tr:hover {
    background-color: #eee0cb;
    box-shadow: 5px 5px 5px gray;

}

.cursor {
    cursor: pointer;
}

table {
    box-shadow: 5px 5px 5px gray;
    border-radius: 25px 25px 0px 0px;
}