/*Esenciales*/
html,
body {
    font-family: sans-serif;
}

a:hover {
    color: #baa898 !important;
    text-decoration: none;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

img {
    width: 100%;
    height: 100% !important;

    border-radius: 25px 0px 0px 25px;
}

.centrado {
    text-align: center;
}

.izquierda {
    text-align: left;
}

.derecha {
    text-align: right;
}

/************************************************/