html,
body {
    font-family: sans-serif;
    text-align: center;

    color: #eee0cb;
}

/*
$raisin-black: #231f20ff;
$international-orange-golden-gate-bridge: #bb4430ff;
$middle-blue: #7ebdc2ff;
$medium-champagne: #f3dfa2ff;
$linen: #efe6ddff;
*/
.azul {
    color: #bfd7ea;
}

.marron {
    color: #baa898;
}

.dorado {
    color: #eee0cb;
}

.negro {
    color: #000000;
}

.verde {
    color: #839788;
}

.bazul {
    background-color: #bfd7ea;
}

.bmarron {
    background-color: #baa898;
}

.bdorado {
    background-color: #eee0cb;
}

.bnegro {
    background-color: #000000;
}

.bverde {
    background-color: #839788;
}

table,
th,
tr,
td {
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

tr:hover,
td:hover {
    background-color: #eee0cb;
}

th {
    background-color: #000000;
    color: #baa898;
}

.grande {
    text-align: left;
    font-size: x-large;
}

a:hover {
    color: #baa898 !important;
    text-decoration: none;
}
a {
    color: #000000 !important;
    text-decoration: none !important;
}