/*Esenciales*/
html,
body {
    font-family: sans-serif;

}

a:hover {
    color: #baa898 !important;
    text-decoration: none;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

img {
    max-width: 300px;
    max-height: 175px;
    min-width: 300px;
    min-height: 175px;
    border-radius: 25px 0px 0px 25px;
}

.centrado {
    text-align: center;
}

/************************************************/