/*Esenciales*/
html,
body {
    font-family: sans-serif;
    text-align: center;
}

a:hover {
    color: #baa898 !important;
    text-decoration: none;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

img {
    max-width: 300px;
    max-height: 200px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 25px 0px 0px 25px;
}

/************************************************/



textarea {
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}