/*Esenciales*/
html,
body {
    font-family: sans-serif;
    text-align: center;
}

a:hover {
    color: #baa898 !important;
    text-decoration: none;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

img {
    border-radius: 25px 0px 0px 25px;
}

/************************************************/


.marron {
    color: #baa898;
}

.dorado {
    color: #eee0cb;
}

.bazul {
    background-color: #bfd7ea;
}

.bmarron {
    background-color: #baa898;
}

.bdorado {
    background-color: #eee0cb;
}

.bnegro {
    background-color: #000000;
}

.bverde {
    background-color: #839788;
}



.grande {
    text-align: left;
    font-size: x-large;
}



.btn-registro {
    padding: 12px 6px;
    border-radius: .25rem;
    background-color: #bfd7ea;
    border-color: #bfd7ea;
    margin-bottom: .5rem !important;
    border: 1px solid transparent;
}

.btn-inicio {
    padding: 12px 6px;
    border-radius: .25rem;
    color: #fff;
    background-color: #839788;
    border-color: #839788;
    margin-bottom: .5rem !important;
    border: 1px solid transparent;
    width: 100%;
}

.correo {
    text-decoration: underline;

}

.correo:hover {
    text-shadow: 0.5px 0.5px 0.5px blue;
}

.casasProvincia {
    box-shadow: 10px 10px lightgray;
    border-radius: 25px 25px 0px 0px;
}

.ofertaCasa {
    transition: box-shadow .3s;
    border-radius: 25px 0px 0px 25px;

}

.ofertaCasa:hover {
    box-shadow: 5px 5px 5px gray;
}